body, .player, .playlist {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans";
}

body {
    background-color: blue;
    gap: 20px;
}

.player, .playlist {
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.progress {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.active {
    font-weight: bold;
    color: gold;
}